[submodule "lib/WebSerialPro"]
	path = lib/WebSerialPro
	url = git@github.com:mathieucarbou/WebSerial-Pro.git
	branch = yasolr
[submodule "lib/ESPDASHPro"]
	path = lib/ESPDASHPro
	url = git@github.com:mathieucarbou/ESP-DASH-Pro.git
	branch = yasolr
