# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build

on:
  workflow_dispatch:
  # schedule:
  #   - cron: "0 5 * * 1"
  push:
    tags: ["v*"]
    branches: ["*"]
    paths-ignore: ["docs/**", "**/*.md", "**/portal/**", "tools/**", "test/**"]
  pull_request:
    paths-ignore: ["docs/**", "**/*.md", "**/portal/**", "tools/**", "test/**"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pio_envs:
    name: Get PlatformIO Envs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-pio_envs
          path: ~/.cache/pip

      - name: Pyhton
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio
          pip install --upgrade intelhex
          pip install --upgrade rich_click

      - name: Get Envs
        id: envs
        run: |
          rm -f platformio_override.ini
          echo "pio_name=$(pio project config --json-output | jq -cr '.[0][1][0][1]')" >> $GITHUB_OUTPUT
          echo "pio_default_envs=$(pio project config --json-output | jq -cr '[ .[][0] | select(startswith("env:oss-")) | .[4:] ]')" >> $GITHUB_OUTPUT

    outputs:
      pio_name: ${{ steps.envs.outputs.pio_name }}
      pio_default_envs: ${{ steps.envs.outputs.pio_default_envs }}

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [pio_envs]
    strategy:
      fail-fast: false
      matrix:
        environment: ${{ fromJSON(needs.pio_envs.outputs.pio_default_envs) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get Tags
        run: git fetch --force --tags origin

      - name: Cache PlatformIO
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-pio
          path: |
            ~/.cache/pip
            ~/.platformio

      - name: Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Build
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio
          pip install --upgrade cryptography
          pip install --upgrade intelhex
          pip install --upgrade rich_click
          ref="${{ github.ref_name }}"
          ref="${ref//\//}"
          # lang: en
          REF_NAME="${{ github.ref_name }}" pio run -e ${{ matrix.environment }}
          mv .pio/build/${{ matrix.environment }}/firmware.bin ./${{ needs.pio_envs.outputs.pio_name }}-$ref-${{ matrix.environment }}-en.OTA.bin
          mv .pio/build/${{ matrix.environment }}/firmware.factory.bin ./${{ needs.pio_envs.outputs.pio_name }}-$ref-${{ matrix.environment }}-en.FACTORY.bin
          # mv .pio/build/${{ matrix.environment }}/firmware.elf ./${{ needs.pio_envs.outputs.pio_name }}-$ref-${{ matrix.environment }}-en.elf
          # lang: fr
          sed -i 's/YASOLR_LANG_EN/YASOLR_LANG_FR/' platformio.ini
          REF_NAME="${{ github.ref_name }}" pio run -e ${{ matrix.environment }}
          mv .pio/build/${{ matrix.environment }}/firmware.bin ./${{ needs.pio_envs.outputs.pio_name }}-$ref-${{ matrix.environment }}-fr.OTA.bin
          mv .pio/build/${{ matrix.environment }}/firmware.factory.bin ./${{ needs.pio_envs.outputs.pio_name }}-$ref-${{ matrix.environment }}-fr.FACTORY.bin
          # mv .pio/build/${{ matrix.environment }}/firmware.elf ./${{ needs.pio_envs.outputs.pio_name }}-$ref-${{ matrix.environment }}-fr.elf

      - name: Upload
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.environment }}
          if-no-files-found: error
          path: |
            *.bin
            *.elf

  release:
    name: Release
    if: ${{ github.repository_owner == 'mathieucarbou' && github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/v') }}
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download
        uses: actions/download-artifact@v7
        with:
          path: artifacts/

      - name: Move
        run: |
          ls -R artifacts
          find artifacts -name '*.bin' -exec mv {} artifacts/ \;
          find artifacts -name '*.elf' -exec mv {} artifacts/ \;

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/*.bin
            artifacts/*.elf
