# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Cpplint

on:
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * 1"
  push:
    tags: ["v*"]
    branches: ["*"]
    paths: ["**/*.h", "**/*.cpp"]
  pull_request:
    paths: ["**/*.h", "**/*.cpp"]

jobs:
  cpplint:
    name: cpplint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-cpplint
          path: ~/.cache/pip

      - name: Pyhton
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: cpplint
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade cpplint
          cpplint \
            --repository=. \
            --recursive \
            --filter=-whitespace/line_length,-whitespace/braces,-whitespace/comments,-runtime/indentation_namespace,-whitespace/indent,-readability/braces,-whitespace/newline,-readability/todo,-build/c++11,-runtime/references \
            --exclude=lib/ESPDASHPro \
            --exclude=lib/WebSerialPro \
            lib \
            include \
            src
